<mat-tab-group>
    <mat-tab label="Новая запись">
        <mat-card>
            <app-jn-new-row>  </app-jn-new-row>
        </mat-card>   
    </mat-tab>
    <mat-tab label="Список">
        <mat-card>
            <!-- <app-jn-grid [dbc] = db ></app-jn-grid> -->
            <!-- <app-jn-grid></app-jn-grid> -->
            <app-jn-grid [dbc] = db ></app-jn-grid>
            <p></p>
            <button mat-raised-button>Создать</button>
        </mat-card>
    </mat-tab>
</mat-tab-group>












